body {
    background-color: #1d1e22;
    color: #fff
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #1d1e22;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #1d1e22;
}

a, a:focus, a:hover {
    color: deepskyblue;
}

.col-form-label {
    margin-top: 6px;
}

#settingsTabs {
    margin-bottom: 40px;
}

.clear {
    clear: both;
}

.site-disabled {
    background-color: rgba(35,35,35,0.8); 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.card-header {
    background-color: rgba(255,255,255,0.05);
}

.card-integration {
    overflow: hidden; 
    height: 0; 
    padding-top: 100%;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 80%;
    margin: 0 auto;
}

.list-group-item {
    background-color: #212529!important;
    border: 1px solid rgba(255,255,255,0.5);
}

.list-group-item .card-text {
    color: #ddd;
}

.form-text {
    color: #ccc;
}

.badge-notify {
    font-weight: 400;
    font-size: .9em;
    padding: .5em .8em;
}